.clickable-number-range {
	.select-number-button {
		width: 30px;
		height: 40px;

		border: 1px solid transparent;

		line-height: 40px;

		&:hover {
			border-style: dashed;
			border-color: rgba(255,255,255,.25);
		}

		&.selected {
			border-color: rgba(255,255,255,.25);
			border-style: solid;
			cursor: default;
		}
	}
}